<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Payroll</display-name>
	<welcome-file-list>
		<welcome-file>/WEB-INF/pages/home.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Home</servlet-name>
		<jsp-file>/WEB-INF/pages/home.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PositionViewServlet</servlet-name>
		<servlet-class>com.dxc.payroll.servlets.PositionViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PositionViewServlet</servlet-name>
		<url-pattern>/currentPositionView</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RaisingEmployeeServlet</servlet-name>
		<servlet-class>com.dxc.payroll.servlets.RaisingEmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RaisingEmployeeServlet</servlet-name>
		<url-pattern>/raisingEmployee</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>JobViewServlet</servlet-name>
		<servlet-class>com.dxc.payroll.servlets.JobViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JobViewServlet</servlet-name>
		<url-pattern>/job</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TaxViewServlet</servlet-name>
		<servlet-class>com.dxc.payroll.servlets.TaxViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaxViewServlet</servlet-name>
		<url-pattern>/viewTax</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateTaxServlet</servlet-name>
		<servlet-class>com.dxc.payroll.servlets.UpdateTaxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateTaxServlet</servlet-name>
		<url-pattern>/updateTax</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CurrentTaxesServlet</servlet-name>
		<servlet-class>com.dxc.payroll.servlets.CurrentTaxesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CurrentTaxesServlet</servlet-name>
		<url-pattern>/currentTax</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PaycheckServlet</servlet-name>
		<servlet-class>com.dxc.payroll.servlets.PaycheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaycheckServlet</servlet-name>
		<url-pattern>/paycheck</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GeneratePaycheck</servlet-name>
		<servlet-class>com.dxc.payroll.servlets.GeneratePaycheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GeneratePaycheck</servlet-name>
		<url-pattern>/generatePaycheck</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PaycheckPreviewServlet</servlet-name>
		<servlet-class>com.dxc.payroll.servlets.PaycheckPreviewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaycheckPreviewServlet</servlet-name>
		<url-pattern>/paycheckPreview</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RightsViewServlet</servlet-name>
		<servlet-class>com.dxc.payroll.servlets.RightsViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RightsViewServlet</servlet-name>
		<url-pattern>/rights</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EmployeeServlet</servlet-name>
		<servlet-class>com.dxc.payroll.servlets.EmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeServlet</servlet-name>
		<url-pattern>/employee</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EmployeesViewServlet</servlet-name>
		<servlet-class>com.dxc.payroll.servlets.EmployeesViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeesViewServlet</servlet-name>
		<url-pattern>/employees</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SubordinateServlet</servlet-name>
		<servlet-class>com.dxc.payroll.servlets.SubordinateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubordinateServlet</servlet-name>
		<url-pattern>/subordinate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PositionHistoryServlet</servlet-name>
		<servlet-class>com.dxc.payroll.servlets.PositionHistoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PositionHistoryServlet</servlet-name>
		<url-pattern>/positionHistory</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IndexationViewServlet</servlet-name>
		<servlet-class>com.dxc.payroll.servlets.IndexationViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexationViewServlet</servlet-name>
		<url-pattern>/indexation</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RoleRightsChangeServlet</servlet-name>
		<servlet-class>com.dxc.payroll.servlets.RoleRightsChangeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleRightsChangeServlet</servlet-name>
		<url-pattern>/rightsChange</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddPositionServlet</servlet-name>
		<servlet-class>com.dxc.payroll.servlets.AddPositionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddPositionServlet</servlet-name>
		<url-pattern>/addPosition</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllIndexationsServlet</servlet-name>
		<servlet-class>com.dxc.payroll.servlets.AllIndexationsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllIndexationsServlet</servlet-name>
		<url-pattern>/indexations</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/errors/404.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/ExceptionHandler</location>
	</error-page>
</web-app>